{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <!-- Animation js and css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index_influence.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-md bg-light fixed-top mb-5">
        <a class="navbar-brand text-bold text-gradient pl-3" href="http://127.0.0.1:8000/">Fluence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-semibold justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item px-lg-5">
                    <a class="nav-link active text-gradient text-center" href="#">My Account <span
                            class="sr-only">(current)</span> </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Body Part -->
    <div class="container pt-5 mt-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-3 pb-3">
                <div class="container justify-content-end">
                    <img src="../../images/profile-icon.png" class="rounded-circle img-fluid" style="width:200px">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 pb-3">
                <h2>{{user.username}}</h2>
                <p>{{user.profileid}}</p>
                <form action="{% url 'influence:request' %}" method="post">
                        {% csrf_token %}
                        <!-- <input type="submit" name="" value="Update Info"> -->
                        <button type="submit" class="btn btn-outline-success" name="">Update Info</button>
                        
                    </form>
            </div>
        </div>
        
        
        
        <hr class="color-gradient">

        {% if is_first %}

            <h2>Register Button!</h2>

        {% else %}
        <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active text-gradient text-semibold mx-auto px-5 pb-2" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Profile</a>
                <a class="nav-item nav-link text-gradient text-semibold mx-auto px-5 pb-2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Categories</a>
                <a class="nav-item nav-link text-gradient text-semibold mx-auto px-5 pb-2" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false">Contact</a>  
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <h3>Follwers:  {{ username }}</h3>
                <h3>First name:  {{ first_name }}</h3>
                <h3>Last name:  {{ last_name }}</h3>
                <h3>Followers:  {{ followers }}</h3>
                <h3>Influence Points:  {{ influence_points }}</h3>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table>
                            <thead>
                            <tr>
                                <th>categories</th>
                            </tr>
                            </thead>
                        <tbody>
                        
                        {% for category in categories %}
                        <tr>
                            <td>{{ category }}</td>
                        </tr>
                        {% endfor %}
                        
                        </tbody>
                        </table>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    
            </div>
        </div>
        {% endif %}

    </div>

    <!-- Optional JavaScript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init();</script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>