<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the profile page for {{user.username}} after logging in</h1>

    {% if user not None %}
    <h1>Follwers:  {{user.followers}}</h1>
    <h1>Influence Points:  {{user.influence_points}}</h1>


    {% else %}
    <h1>This is your first time registering!</h1>

    {% endif %}
    <form  method="post">
      {% csrf_token %}
      <input type="submit" name="" value="Update Info">
    </form>
  </body>
</html>
